/*

Publisher |-> Global Mag

*/
/* Header */
/* About Us */
.post-template-1 .single-container > .post,
.post-template-10 .single-container > .post {
  border: none;
  padding: 0; }

.vc_row[data-vc-full-width="true"] .bs-vc-block,
.vc_row[data-vc-full-width="true"] .entry-content .better-studio-shortcode,
.vc_row[data-vc-full-width="true"] .bs-shortcode,
.vc_row[data-vc-full-width="true"] .bs-listing {
  background: transparent;
  padding: 0; }

.topbar {
  height: 33px !important; }
  .topbar .topbar-inner {
    padding: 0 !important; }
  .topbar.topbar-style-1 .section-menu {
    height: 33px !important;
    position: relative; }
  .topbar .better-social-counter .social-list {
    line-height: 30px !important;
    height: 33px !important; }
  .topbar .topbar-sign-in.topbar-sign-in.topbar-sign-in {
    height: 33px;
    line-height: 33px !important; }
  .topbar ul.menu.top-menu li.menu-item-has-children > a:after,
  .topbar .top-menu > li {
    line-height: 33px !important; }
  .topbar .topbar-date {
    height: 33px;
    line-height: 29px !important;
    top: 0; }

.site-header.site-header.header-style-2 .main-menu.menu > li > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-item > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a:before {
  display: none; }

.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-item > a {
  background-color: transparent !important; }

.site-header.site-header.header-style-2 .main-menu > li > a {
  padding: 0 16px;
  z-index: 0; }

.site-header.header-style-2 .main-menu-wrapper .main-menu-inner {
  height: 54px !important; }

.site-header.header-style-2.header-style-2 .main-menu > li > a {
  line-height: 54px; }

.site-header.header-style-2 .search-container .search-box .search-form .search-field {
  height: 54px; }

.site-header.header-style-2 .main-menu.menu {
  height: 77px; }

.site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 54px; }

.site-header.header-style-2.site-header .shop-cart-container .cart-handler
.site-header.header-style-2 .search-container .search-handler {
  line-height: 34px; }

.site-header.header-style-2.header-style-2 .main-menu > li > a {
  line-height: 54px; }

.site-header.boxed .main-menu-wrapper .main-menu-container,
.site-header.full-width .main-menu-wrapper {
  border-width: 0 !important; }

.site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 51px; }

.ltr .bs-shortcode.bs-about > * {
  text-align: left; }

.rtl .bs-shortcode.bs-about > * {
  text-align: right; }

.bs-about .about-icons-list .about-icon-item.about-icon-item a i {
  font-size: 19px; }

/**
 * => Optimized Fonts
 **/
.bs-about,
.post-meta,
.post-title,
a.read-more,
.post-summary,
.entry-content p,
.btn-bs-pagination,
.bs-listing .title,
.newsletter-subscribe,
.listing-item .title a,
.term-badges.floated a,
.bs-numbered-pagination,
.mega-links > .menu-item a,
ul.menu.footer-menu li > a,
.section-heading > .h-text,
.better-newsticker .heading,
.section-heading a > .h-text,
.site-footer .footer-widgets,
.off-canvas-menu > ul > li > a,
.post-count-badge.pcb-t1.pcb-s1,
.site-header .main-menu > li > a,
.site-header .topbar .topbar-inner,
.better-newsticker ul.news-list li a,
.site-footer .bs-about .about-link a,
.term-badges .term-badge:first-child a,
.site-footer .copy-1, .site-footer .copy-2,
.bs-subscribe-newsletter .subscribe-message,
.footer-widgets .widget_nav_menu ul.menu li a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * => General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

.layout-1-col, .layout-2-col, .layout-3-col {
  margin-top: 22px !important; }

/* Site Header */
.site-header.site-header.header-style-2 .topbar .better-social-counter.style-button .social-item .item-icon {
  font-size: 13px; }

.site-header.site-header.header-style-2 .main-menu > li {
  margin-right: 36px; }
  .site-header.site-header.header-style-2 .main-menu > li > a {
    padding: 0; }

.site-header.site-header.header-style-2 .search-container .search-handler {
  line-height: 24px; }

.site-header.site-header.header-style-2 .off-canvas-menu-icon-el {
  width: 100%; }

/* News Ticker */
.better-newsticker {
  min-height: 32px;
  max-height: 32px; }
  .better-newsticker .heading {
    border-radius: 0;
    height: 32px;
    line-height: 32px;
    width: 115px;
    font-size: 14px; }
    .better-newsticker .heading:after {
      display: none; }
    .better-newsticker .heading:before {
      content: '';
      display: inline-block;
      width: 11px;
      height: 15px;
      vertical-align: middle;
      position: relative;
      margin-right: 7px;
      background: url("img/trending.png") no-repeat center;
      top: -1px; }
  .better-newsticker ul.news-list li {
    height: 32px;
    line-height: 32px;
    left: 140px; }
    .better-newsticker ul.news-list li.active {
      left: 130px; }
    .better-newsticker ul.news-list li a {
      color: #111111;
      font-weight: 400 !important;
      font-size: 15px !important; }
  .better-newsticker .control-nav span {
    border-radius: 0;
    line-height: 20px; }

/* Popular Category */
.bs-popular-categories .bs-popular-terms-list {
  padding: 0; }

/* Section Heading */
.section-heading.sh-t1.sh-s1:after {
  height: 1px;
  margin-top: 0;
  background-color: #e7e7e7; }

.section-heading.sh-t5.sh-s1:before {
  height: 1px;
  background-color: #e7e7e7; }

.section-heading.sh-t5.sh-s1 .h-text:before {
  display: none !important; }

/* Slider 1 */
.bs-slider-1 .bs-slider-1-item > .item-content:before {
  padding-top: 56% !important; }

.bs-slider-1 .bs-slider-1-item > .item-content .content-container {
  padding: 0 0 20px; }
  .bs-slider-1 .bs-slider-1-item > .item-content .content-container .title {
    max-width: 100%;
    text-align: left !important; }
  .bs-slider-1 .bs-slider-1-item > .item-content .content-container .post-meta {
    text-align: left !important; }

/* Newsletter */
.bs-newsletter-pack.bsnp-t1 .bsnp-title {
  font-size: 17px; }

.bs-newsletter-pack.bsnp-t1 .bsnp-desc {
  font-size: 12px; }

/* Modern Grid 3 */
.listing-mg-3-item.bsw-400 .item-content:before {
  padding-top: 68% !important; }

/* Grid 1 */
.listing-item-grid-1 .post-summary {
  padding-bottom: 0;
  border-bottom: none !important; }

/* Pagination */
.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination {
  width: 100%;
  line-height: 50px !important;
  height: 50px;
  box-shadow: 0 3px 4px rgba(204, 204, 204, 0.25); }
  .bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination span {
    font-weight: 700;
    font-size: 12px;
    color: #000000;
    letter-spacing: 1px; }
  .bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination .fa-angle-down {
    display: none !important; }

.pagination.bs-numbered-pagination .page-numbers {
  color: #000000;
  font-weight: 400 !important;
  min-width: 33px;
  height: 33px;
  line-height: 33px;
  border-color: #e5e5e5; }

.pagination.bs-numbered-pagination .page-numbers:hover,
.pagination.bs-numbered-pagination .current {
  border-color: #a1a1a1 !important; }

/* About Us */
.site-footer .footer-widgets.light-text {
  padding-bottom: 0; }
  .site-footer .footer-widgets.light-text .widget a {
    color: #d0d0d0; }
  .site-footer .footer-widgets.light-text .content-wrap > .container {
    padding-bottom: 60px; }
    .site-footer .footer-widgets.light-text .content-wrap > .container > .row:after {
      content: '';
      position: absolute;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.15);
      left: 25px;
      right: 25px;
      display: inline-block;
      bottom: 0; }
  .site-footer .footer-widgets.light-text .section-heading.sh-t5 {
    color: #fff;
    padding-bottom: 16px;
    margin-bottom: 25px; }

.site-footer .bs-about .about-title {
  margin-bottom: 30px; }

.site-footer .bs-about .about-text {
  font-size: 15px; }

.site-footer .bs-about .about-link a {
  color: #d9d9d9; }

.site-footer .bs-about .about-icon-item {
  margin-right: 24px; }
  .site-footer .bs-about .about-icon-item a {
    box-shadow: none !important;
    opacity: .5;
    width: auto;
    background: none !important; }
    .site-footer .bs-about .about-icon-item a:hover {
      opacity: 1; }
  .site-footer .bs-about .about-icon-item:last-child {
    margin-right: 0; }
