wp-content/upgrade/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/w3tc-cache/*
.docker/db
.env
.htaccess
.docker/log/
wp-content/uploads/
license.txt
readme.html

wp-cli.phar
wp-content/logs/

.vagrant/
*.log
wp-content/bs-booster-cache/
node_modules/
org.kde.konsole.desktop
.htaccess
wp-content/uploads/

wp-config-sample.php
tmp
.directory
*.sql
*.zip
*.gz
*.tar.gz
*.txt
wp-content/plugins/migrator-rade/
images/*
wp-content/db.php
wp-content/plugins/ads-manager/composer.json
wp-content/plugins/ads-manager/composer.lock
wp-content/plugins/query-monitor/
.docker/db
.docker/certbot/
.vscode/
wp-content/plugins/__*
s/*
test/*
.env
wp-content/object-cache.php
deploy.sh
wp-content/upgrade/
.ideas/
wp-content/index.php
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/themes/index.php
wp-content/themes/twentynineteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentytwenty/
!.docker/database/database.sql

.docker/services/xdebug_dir/

wp-content/upgrade/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/w3tc-cache/*
.docker/db
.env
.htaccess
.docker/log/
wp-content/uploads/
license.txt
readme.html

wp-cli.phar
wp-content/logs/

.vagrant/
*.log
wp-content/bs-booster-cache/
node_modules/
org.kde.konsole.desktop
.htaccess
wp-content/uploads/

wp-config-sample.php
vendor/
tmp
.directory
*.sql
*.zip
*.gz
*.tar.gz
*.txt
wp-content/plugins/migrator-rade/
images/*
wp-content/db.php
wp-content/plugins/ads-manager/composer.json
wp-content/plugins/ads-manager/composer.lock
wp-content/plugins/query-monitor/
.docker/db
.docker/certbot/
.vscode/
.docker/uploads.ini
wp-content/plugins/__*
s/*
test/*
.env
wp-content/object-cache.php
deploy.sh
wp-content/upgrade/

!wp-content/themes/flatsome/**/*.*
!wp-content/themes/parned/**/*.*
!wp-content/plugins/**

/blog

wp-content/plugins/hello.php
