/*

Publisher |-> Food Recipes

*/
/* Header Site */
/* Page Layout */
/* Widget */
body.boxed .bs-vc-content > .vc_row > .bs-vc-wrapper,
body.boxed .content-wrap {
  padding-left: 18px;
  padding-right: 18px; }

body.boxed .bf-breadcrumb > .bf-breadcrumb-container {
  margin-left: 18px !important;
  margin-right: 18px !important; }

body.boxed .mega-menu .content-wrap {
  padding-left: 9px;
  padding-right: 9px; }

body.boxed .slider-container .content-wrap {
  padding-left: 0;
  padding-right: 0; }

body.boxed .bs-sks .bs-sksitemr {
  padding-left: 18px; }

body.boxed .bs-sks .bs-sksiteml {
  padding-right: 18px; }

@media (max-width: 980px) {
  body.boxed .bs-vc-content > .vc_row > .bs-vc-wrapper,
  body.boxed .content-wrap,
  body.boxed .mega-menu .content-wrap {
    padding-left: 0;
    padding-right: 0; }
  body.boxed .bf-breadcrumb > .bf-breadcrumb-container {
    margin-left: 0 !important;
    margin-right: 0 !important; } }

.post-template-1 .single-container > .post,
.post-template-10 .single-container > .post {
  border: none;
  padding: 0; }

.vc_row[data-vc-full-width="true"] .bs-vc-block,
.vc_row[data-vc-full-width="true"] .entry-content .better-studio-shortcode,
.vc_row[data-vc-full-width="true"] .bs-shortcode,
.vc_row[data-vc-full-width="true"] .bs-listing {
  background: transparent;
  padding: 0; }

.topbar {
  height: 31px !important; }
  .topbar .topbar-inner {
    padding: 0 !important; }
  .topbar.topbar-style-1 .section-menu {
    height: 31px !important;
    position: relative; }
  .topbar .better-social-counter .social-list {
    line-height: 28px !important;
    height: 31px !important; }
  .topbar .topbar-sign-in.topbar-sign-in.topbar-sign-in {
    height: 31px;
    line-height: 31px !important; }
  .topbar ul.menu.top-menu li.menu-item-has-children > a:after,
  .topbar .top-menu > li {
    line-height: 31px !important; }
  .topbar .topbar-date {
    height: 31px;
    line-height: 27px !important;
    top: 0; }

.site-header.site-header.header-style-1 .main-menu.menu > li > a:before,
.site-header.site-header.header-style-1 .main-menu.menu > li:hover > a:before,
.site-header.site-header.header-style-1 .main-menu.menu > li.current-menu-item > a:before,
.site-header.site-header.header-style-1 .main-menu.menu > li.current-menu-parent > a:before {
  display: none; }

.site-header.site-header.header-style-1 .main-menu.menu > li:hover > a,
.site-header.site-header.header-style-1 .main-menu.menu > li.current-menu-parent > a,
.site-header.site-header.header-style-1 .main-menu.menu > li.current-menu-item > a {
  background-color: rgba(255, 255, 255, 0.2) !important; }

.site-header.site-header.header-style-1 .main-menu > li > a {
  padding: 0 16px;
  z-index: 0; }

.site-header.header-style-1.header-style-1 .main-menu > li > a {
  line-height: 48px; }

.site-header.header-style-1 .menu-action-buttons .shop-cart-container,
.site-header.header-style-1 .menu-action-buttons .search-container {
  height: 48px; }

.site-header.header-style-1.full-width .menu-action-buttons {
  top: 0; }

.site-header.header-style-1.site-header .shop-cart-container .cart-handler,
.site-header.header-style-1.site-header .search-container .search-handler {
  margin-top: 0;
  top: 0;
  height: 48px;
  line-height: 48px;
  display: inline-block; }

.site-header.header-style-1 .search-container .search-box .search-form .search-field {
  height: 48px; }

.site-header.header-style-1 .main-menu.menu {
  height: 48px;
  padding-top: 0;
  margin-top: 0; }

.site-header.header-style-1 .off-canvas-menu-icon-container {
  line-height: 42px; }

.site-header.header-style-1.header-style-1 .main-menu > li > a {
  line-height: 48px; }

.site-header.header-style-1.header-style-1 .main-menu-inner {
  height: 48px; }

.site-header.header-style-1.boxed .main-menu-wrapper .main-menu-container,
.site-header.header-style-1.full-width .main-menu-wrapper {
  border-width: 0 !important; }

.site-header.header-style-1 .off-canvas-menu-icon-container {
  line-height: 45px; }

.ltr .bs-shortcode.bs-about > * {
  text-align: left; }

.rtl .bs-shortcode.bs-about > * {
  text-align: right; }

.bs-about .about-icons-list .about-icon-item a {
  width: 37px;
  height: 37px; }

.bs-about .about-icons-list .about-icon-item.about-icon-item a i {
  line-height: 37px; }

.bs-about .about-icons-list .about-icon-item.about-icon-item a i {
  font-size: 13px; }

/**
 * => Optimized Fonts
 **/
.bs-about,
.post-meta,
.post-title,
a.read-more,
.post-summary,
.entry-content p,
.btn-bs-pagination,
.bs-listing .title,
.newsletter-subscribe,
.listing-item .title a,
.term-badges.floated a,
.bs-numbered-pagination,
.mega-links > .menu-item a,
ul.menu.footer-menu li > a,
.section-heading > .h-text,
.better-newsticker .heading,
.section-heading a > .h-text,
.site-footer .footer-widgets,
.off-canvas-menu > ul > li > a,
.pagination.bs-links-pagination,
.post-count-badge.pcb-t1.pcb-s1,
.site-header .main-menu > li > a,
.site-header .topbar .topbar-inner,
.better-newsticker ul.news-list li a,
.site-footer .bs-about .about-link a,
.term-badges .term-badge:first-child a,
.site-footer .copy-1, .site-footer .copy-2,
.bs-subscribe-newsletter .subscribe-message,
.footer-widgets .widget_nav_menu ul.menu li a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * => General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

body.boxed .main-wrap {
  margin-top: 42px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.15); }

/* Site Header */
.site-header .topbar .topbar-date.topbar-date {
  padding: 2px 20px 0 0;
  background-color: transparent !important; }
  .site-header .topbar .topbar-date.topbar-date:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    right: 3px;
    top: 7px; }

.site-header .off-canvas-menu-icon .off-canvas-menu-icon-el {
  width: 100%; }

.site-header .main-menu-container {
  padding: 0 !important; }
  .site-header .main-menu-container .main-menu.menu {
    text-align: left !important; }
    .site-header .main-menu-container .main-menu.menu > li {
      margin: 0; }

/* Section Heading */
.section-heading.sh-t6.sh-s1:before {
  top: auto;
  bottom: 0; }

.section-heading.sh-t6.sh-s1 .other-link {
  margin-top: 0;
  margin-bottom: 2px; }
  .section-heading.sh-t6.sh-s1 .other-link .h-text {
    padding: 0 0 2px 17px; }

/* Pagination */
.pagination.bs-numbered-pagination .page-numbers {
  color: #000000;
  font-weight: 400 !important;
  min-width: 33px;
  height: 33px;
  line-height: 33px; }

.pagination.bs-numbered-pagination .current {
  color: #FFFFFF !important; }

/* Site Footer */
.site-footer .copy-footer {
  padding: 25px 0 22px; }

.site-footer .footer-widgets.light-text .section-heading.sh-t3.sh-s1:after {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1) !important; }

.site-footer .footer-widgets.light-text .widget.widget_nav_menu ul.menu {
  font-size: 0; }
  .site-footer .footer-widgets.light-text .widget.widget_nav_menu ul.menu li {
    display: inline-block;
    width: 50%;
    font-weight: 500; }
    .site-footer .footer-widgets.light-text .widget.widget_nav_menu ul.menu li a {
      border: none !important;
      font-size: 14px;
      padding: 0 0 4px;
      color: #b0b0b0; }
      .site-footer .footer-widgets.light-text .widget.widget_nav_menu ul.menu li a:hover {
        background-color: transparent !important;
        color: #ffffff; }
      .site-footer .footer-widgets.light-text .widget.widget_nav_menu ul.menu li a:before {
        content: '';
        border-radius: 100%;
        background-color: #cdcdcd;
        margin: 0;
        width: 4px;
        height: 4px;
        position: relative;
        top: -2px;
        margin-right: 6px; }

.site-footer .footer-widgets.light-text .bs-about .about-title {
  margin-bottom: 20px; }

.site-footer .footer-widgets.light-text .bs-about .about-icons-list {
  margin-top: 20px; }
  .site-footer .footer-widgets.light-text .bs-about .about-icons-list .about-icon-item a {
    box-shadow: none !important;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1); }
