/*

ThemeName |-> Magly

*/
@import "../_demo-helper/general";

/* Page Layouts */
$layout_boxed_padding: 13px;

/* Header */
$header: 'style-2';
$header_height: 50px;

$topbar_height: 30px;

$menu_current_bg_style: '.header-style-2';
$menu_current_bg: transparent;

/* Blocks Layouts */
$box: box;
$box_padding: 20px 25px;
$box_border: solid 1px #e9e9e9;
$box_remove_modern_grids: true;

$blocks_items_bottom_line: solid 1px rgba(233, 233, 233, 0.8);
$blocks_items_bottom_line_light: solid 1px rgba(29, 29, 29, 0.8);
$blocks_items_bottom_padding: 20px;
$blocks_items_bottom_margin: 20px;

/* Footer */
$about_us_text_align: left;
$about_us_social_icon_size: 37px;
$about_us_social_icon_font_size: 13px;

@import "../_demo-helper/helper";

/**
 * => Optimized Fonts
 **/
.heading,
.bs-about,
.post-meta,
.post-title,
a.read-more,
.post-summary,
.entry-content p,
.bs-listing .title,
.listing-item .title a,
.term-badges.floated a,
.bs-numbered-pagination,
ul.menu.footer-menu li > a,
.section-heading > .h-text,
.bf-breadcrumb.bc-top-style,
.section-heading a > .h-text,
.off-canvas-menu > ul > li > a,
.site-header .main-menu > li > a,
.better-newsticker ul.news-list li,
.site-header .topbar .topbar-inner,
.better-social-counter.style-style-8,
.term-badges .term-badge:first-child a,
.site-footer .copy-1, .site-footer .copy-2,
.bs-subscribe-newsletter .subscribe-message,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.widget.widget_bs-subscribe-newsletter .newsletter-subscribe,
.section-heading.sh-t3 .main-link:first-child:last-child .h-text {
  @include optimize_font;
}

/**
 * => General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

body.active-top-line {
  border-top: none;
}

body.boxed > .main-wrap {
  border-top: solid 3px;
  box-shadow: none !important;
}

/* Site Header */
.site-header.header-style-2 {
  .topbar .topbar-date.topbar-date {
	margin-right: 20px;
	position: relative;

	&:after {
	  content: '';
	  position: absolute;
	  width: 1px;
	  height: 14px;
	  background-color: #dedede;
	  right: -14px;
	  top: 8px;
	}
  }

  .search-container .search-handler {
	line-height: 24px;
  }

  .off-canvas-menu-icon .off-canvas-menu-icon-el {
	width: 100%;
  }

  .main-menu-wrapper {
	border-bottom-width: 3px !important;

	.main-menu-inner {
	  & > .content-wrap {
		padding-left: 0 !important;

		& > .container {
		  padding-left: 0 !important;

		  .menu {
			li {
			  margin: 0;

			  a {
				padding: 0 25px;
			  }
			}
		  }
		}
	  }
	}
  }
}

/* Newsletter */
.better-newsticker {
  .control-nav span {
	border-radius: 0 !important;
	line-height: 22px;
  }

  .heading {
	border-radius: 0 !important;
	width: 120px;

	&:after {
	  display: none;
	}
  }

  ul.news-list li {
	left: 145px;

	&.active {
	  left: 135px;
	}
  }
}

/* Social */
.better-social-counter.style-style-6 {
  .social-item {
	border-bottom: none !important;
  }

  .item-icon {
	background: #898989 !important;
	transition: .3s;

	&:hover {
	  background: #6a6a6a !important;
	}
  }
}

/* Section Heading */
.section-heading {
  margin-bottom: 13px !important;

  &.sh-t2.sh-s1 {
	margin: -21px -26px;
	padding-top: 15px;

	&:after {
	  height: 3px;
	}

	.h-text {
	  padding: 0 20px 0 25px;
	  background: #ffffff;
	  margin: 0 1px;
	}

	&:before {
	  top: 50%;
	  margin-top: 1px;
	  background: rgba(0, 0, 0, 0.04);
	  height: 12px;
	  right: 26px !important;
	  width: auto;
	  left: 26px;
	}
  }
}

.post-related {
  .section-heading.sh-t2.sh-s1 {
	margin: -21px -26px 33px;
	padding: 15px 20px 0;

	.main-link {
	  .h-text {
		padding-left: 0;
	  }
	}
  }
}

/* Pagination */
.bs-pagination.bs-ajax-pagination.more_btn {
  .btn-bs-pagination {
	width: 100%;
	padding: 6px;
	border-color: #e4e4e4;
  }
}

/* Modern Grid  */
.listing-mg-1-item {
  &.listing-item-3,
  &.listing-item-4 {
	.title {
	  font-size: 61%;
	}
  }

}

/* Block item */
.listing-thumbnail.listing-tb-2 .listing-item-thumbnail {
  padding-bottom: 0 !important;
  border-bottom: none !important;
}

.listing-thumbnail.listing-thumbnail .listing-item-thumbnail {
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:last-child {
	margin-bottom: 0 !important;
  }
}

/* Newsletter */
.bs-newsletter-pack.bsnp-t1.bsnp-s2 {
  box-shadow: none !important;
}

/* Footer Widget */
.site-footer {
  &:before {
	height: 5px;
  }

  .footer-widgets.light-text {
	a {
	  color: #cccccc !important;

	  &:hover {
		color: #FFFFFF !important;
	  }
	}

	.listing-thumbnail.listing-thumbnail .listing-item-thumbnail {
	  padding-bottom: 0 !important;
	  border-bottom: none !important;
	}

	.bs-about {
	  .about-text {
		font-size: 12px;
	  }

	  .about-icons-list {
		.about-icon-item {
		  a {
			border-radius: 100%;
			box-shadow: none !important;
			background: rgba(255, 255, 255, 0.12);
			transition: .3s;

			&:hover {
			  background: rgba(255, 255, 255, 0.2);
			}
		  }
		}
	  }
	}

	.section-heading.sh-t1.sh-s1 {
	  &:after {
		height: 12px;
		margin-top: -7.5px;
		background: rgba(255, 255, 255, 0.05) !important;
	  }
	}

	.bs-popular-term-item .term-count {
	  background: rgba(255, 255, 255, .1);
	}
  }
}

/* Social Icons */
.better-social-counter.style-style-10 {
  .section-heading.sh-t2.sh-s1 {
	margin: 0 0 13px;

	&:before {
	  right: 0 !important;
	}

	.h-text {
	  padding-left: 0;
	}
  }
}

/* RTL */
.rtl {
  .section-heading.sh-t2.sh-s1 .h-text {
	padding: 0 25px 0 20px;
  }

  .better-social-counter.style-style-10 {
	.section-heading.sh-t2.sh-s1 {
	  &:before {
		right: 26px !important;
		left: 0 !important;
	  }

	  .h-text {
		padding-left: 20px;
		padding-right: 0;
	  }
	}
  }

  .site-header.header-style-2 {
	.topbar .topbar-date.topbar-date {
	  padding-right: 0;
	  margin-right: 0;
	  margin-left: 20px;

	  &:after {
		right: auto;
		left: -14px;
	  }
	}

	.main-menu-wrapper {
	  .main-menu-inner {
		& > .content-wrap {
		  padding-left: 13px !important;
		  padding-right: 0 !important;

		  & > .container {
			padding-left: 13px !important;
			padding-right: 0 !important;
		  }
		}
	  }
	}
  }

  .better-newsticker ul.news-list li {
	left: auto;
	right: 145px;

	&.active {
	  left: auto;
	  right: 135px;
	}
  }
}